body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    color: #333; 
    margin-top: -75px;
    padding: 20px;
    height: 700px;
    width: 700px; 
    background-color: #ffffff; 
    background-image: url('../images/day/wow.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

/* used for juno title */
.juno-title-container {
    text-align: center;
    margin-bottom: -20px; 
}

.juno-title {
    font-family: 'Fredoka One', cursive; 
    font-size: 180px; 
    color: white; 
    margin: 0px;
}




